<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401652208930-2aq9fvv56us2ibv8eg2oqknptoco3d2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401652208930-2aq9fvv56us2ibv8eg2oqknptoco3d2k</string>
	<key>API_KEY</key>
	<string>AIzaSyCvHu74oJ1S7m3dYhVDZbBDooTwTfHkkRw</string>
	<key>GCM_SENDER_ID</key>
	<string>401652208930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rafaelplinio.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios13-f3c15</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios13-f3c15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401652208930:ios:ef3ab0de3d7a10f17f817b</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-ios13-f3c15.firebaseio.com</string>
</dict>
</plist>